.profile-text {
    text-align:center;
}
  
.profile-image {
    margin: 0 0 0 0 !important;
}

.profile-name {
    margin: 0 0 0.5em 0 !important;
}

.help-block.error {
    margin-bottom: 0px;
    color: red;
}

#email_submit_button {
    margin-left: 1.5em;
}

#twitter_wrapper {
    border-radius: 7px;
    background-color: rgb(20,20,20);
}

.row > .team-member {
    width: 20%;
}

.references > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 6px;
    font-style: italic;
    opacity: 0.65;
}

.linkedin_span {
    vertical-align: middle;
    margin-left: 6px;
}

.linkedin_ref {
    border: none;
}

#logo_image {
    width: auto;
    display:block;
    margin:auto;
    padding-bottom: 50px;
    width: 85%;
}

#intro_logo {
    display:block;
    margin:auto;
    margin-top: 0;
    width: 40%;
}

#point_cloud_video {
    display: block;
    margin: 0 auto;
    width: 70vw;
    height: 60vh;
}

@media screen and (max-width: 1280px) {
    #logo_image {
        width: auto;
        padding-bottom: 0px;
        max-height: 44px;
        margin-right: 40px;
        margin-top: 7px;
    }
    #point_cloud_video {
        width: 70vw;
        height: 55vh;
    }
}


@media screen and (max-width: 480px) {
    #point_cloud_video {
        width: 90vw;
        height: 50vh;
    }
}